.env

__pycache__/
*.pyc
*.pyo
*.pyd
*.db

venv/
env/
*.env

.vscode/
.idea/

*.swp
*.swo
*.bak
*.orig

*.log

Pipfile.lock
*.egg-info/
dist/
build/
*.egg

.DS_Store  
Thumbs.db  

instance/
*.sqlite3