{% extends "base.html" %}

{% block content %}
<!-- Section Politique de cookies -->
<section class="cookie-policy-section">
    <H1 class="cookie-policy-title">Politique de cookies</H1>

    <h3 class="cookie-policy-subtitle">Informations générales</h3>
    <p class="cookie-policy-text">Cette politique de cookies explique comment nous utilisons les cookies sur notre site web et comment vous pouvez gérer vos préférences en matière de cookies.</p>

    <h3 class="cookie-policy-subtitle">Qu'est-ce qu'un cookie ?</h3>
    <p class="cookie-policy-text">Un cookie est un petit fichier texte qui est stocké sur votre appareil (ordinateur, téléphone mobile ou tout autre appareil) lors de votre visite sur un site web. Les cookies permettent au site de se souvenir de vos actions ou préférences pendant un certain temps, afin de ne pas avoir à les saisir à nouveau lorsque vous revenez sur le site ou naviguez d'une page à l'autre.</p>

    <h3 class="cookie-policy-subtitle">Quels cookies utilisons-nous ?</h3>
    <p class="cookie-policy-text">Nous utilisons différents types de cookies sur notre site :
        <ul>
            <li><strong>Cookies nécessaires :</strong> Ces cookies sont essentiels pour vous permettre de naviguer sur notre site et d'utiliser ses fonctionnalités, telles que l'accès à votre compte ou l'ajout d'articles au panier.</li>
            <li><strong>Cookies de performance :</strong> Ces cookies collectent des informations sur la manière dont les utilisateurs utilisent notre site, telles que les pages les plus visitées, et nous aident à améliorer la performance du site.</li>
            <li><strong>Cookies fonctionnels :</strong> Ces cookies permettent au site de se souvenir de vos préférences (par exemple, la langue ou la région) pour offrir une expérience plus personnalisée.</li>
            <li><strong>Cookies de ciblage/publicité :</strong> Ces cookies sont utilisés pour diffuser des publicités pertinentes en fonction de vos centres d'intérêt. Ils peuvent également limiter le nombre de fois qu'une publicité est montrée.</li>
        </ul>
    </p>

    <h3 class="cookie-policy-subtitle">Gestion des cookies</h3>
    <p class="cookie-policy-text">Vous avez la possibilité de gérer vos préférences en matière de cookies. Vous pouvez désactiver certains cookies directement via les paramètres de votre navigateur, mais sachez que cela pourrait affecter certaines fonctionnalités du site, telles que la possibilité d'ajouter des articles au panier ou de vous connecter à votre compte.</p>

    <p class="cookie-policy-text">Voici comment gérer vos préférences pour les cookies dans différents navigateurs :</p>
    <ul>
        <li><strong>Google Chrome :</strong> Allez dans les paramètres, puis cliquez sur "Confidentialité et sécurité" et "Cookies et autres données de site".</li>
        <li><strong>Mozilla Firefox :</strong> Allez dans les paramètres, puis cliquez sur "Vie privée et sécurité" et "Cookies et données de sites".</li>
        <li><strong>Safari :</strong> Allez dans les préférences, puis cliquez sur "Confidentialité" et "Cookies et données de sites web".</li>
        <li><strong>Microsoft Edge :</strong> Allez dans les paramètres, puis cliquez sur "Cookies et autorisations de site".</li>
    </ul>

    <h3 class="cookie-policy-subtitle">Consentement</h3>
    <p class="cookie-policy-text">Lorsque vous naviguez sur notre site, vous acceptez l'utilisation de cookies conformément à cette politique de cookies. Vous pouvez à tout moment modifier vos préférences en matière de cookies ou les supprimer via les paramètres de votre navigateur.</p>

    <h3 class="cookie-policy-subtitle">Modifications de la politique de cookies</h3>
    <p class="cookie-policy-text">Nous nous réservons le droit de modifier cette politique de cookies à tout moment. Les modifications seront publiées sur cette page avec la date de mise à jour. Nous vous encourageons à consulter cette page régulièrement pour être informé de toute modification.</p>
    <p class="cookie-policy-text"><strong>Dernière mise à jour : 07 février 2025</strong></p>

    <h3 class="cookie-policy-subtitle">Contact</h3>
    <p class="cookie-policy-text">Si vous avez des questions concernant notre politique de cookies, vous pouvez nous contacter à l'adresse suivante : <strong>contact@miaouff.fr</strong>.</p>
</section>
{% endblock %}
