{% extends "base.html" %}

{% block content %}

<main class="shelters-container">
    {% for shelter in shelters %}
        <section class="shelters-section">
            <a href="{{ url_for('shelter', shelter_id=shelter.shelter_id) }}">
                <div class="shelters-image-container">
                    <img src="{{ url_for('static', filename='images/' + shelter.image) }}" alt="{{ shelter.name }}" class="shelters-image">
                    <h2 class="shelters-title">{{ shelter.name }}</h2>
                    <p class="shelters-description">{{ shelter.description }}</p>
                </div>
            </a>
        </section>
    {% endfor %}
</main>

{% endblock %}
